html, body {
	height: 90%;
	margin: 0;
	padding: 0;
	/*background: linear-gradient(135deg, rgba(255, 251, 251, 0.53), rgba(255, 253, 253, 0.6));*/
	color: #e8dbdb;
}
 .modal-title{
	color: black;
}

.wrapper {
	width: 100%;
	max-width: 400px;
	background: rgba(163, 147, 147, 0.03);
	margin: 80px auto;
	padding: 30px 40px;
	border-radius: 18px;
	box-shadow:
		0 4px 20px rgb(120, 109, 109),
		inset 0 0 20px rgba(255, 255, 255, 0.66);
	backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.76);
}

/* כותרת */
.header h1 {
	text-align: center;
	margin: 0 0 30px 0;
	/*font-size: 1.9em;*/
	/*letter-spacing: 0.5px;*/
	font-weight: 400;
	color: #655151; /
}

/*!* הטופס *!*/
.log-container {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

/*!* תוויות *!*/
.log-container label {
	font-size: 1em;
	/*font-weight: 500;*/
	margin-bottom: 5px;
	color: #000000;
}

.log-container input[type="email"],
.log-container input[type="password"] {
	padding: 6px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	background: rgba(255, 255, 255, 0.72);
	color: #000000;
	font-size: 1em;
	transition: 0.2s;
}

/*!* אפקט פוקוס *!*/
.log-container input:focus {
	background: rgba(209, 209, 209, 0.35);
	outline: none;
}

#login {
	margin-top: 10px;
	padding: 7px;
	background: rgba(125, 163, 161, 0.58);
	border: none;
	color: #1a1a1a;
	font-size: 1.1em;
	font-weight: 600;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.25s;
	letter-spacing: 1px;
}

#login:hover {
	background: rgba(125, 163, 161, 0.66);
	box-shadow: 0 0 5px #707070;
}

#register {
	margin-top:10px;
	padding: 5px;
	background: #e9e9e970;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	transition: 0.25s;
}

#register:hover{
	background: #e9e9e970;
	box-shadow: 0 0 3px #707070
}
