.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 70px 40px 100px;
	/*padding-top: 50px;*/
}

.title {
	color: #000000;
	/*padding-right: 50px;*/

}

.jumboyron {
	padding: 100px;
	background-color: aliceblue;
}


.user {
	position: absolute;
	top: 20px;
	left: 20px;

	display: flex;
	align-items: center;
	gap: 10px;

	background: #f3fbfd;
	padding: 8px 15px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: larger;
	/*font-weight: bold;*/
}

/* כפתור התנתקות */
#logout {
	background: rgb(239, 239, 239);
	color: #911919;
	border: none;
	padding: 6px 12px;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.1s;
	font-size: smaller;

}

#logout:hover {
	background: rgba(182, 182, 182, 0.56);
}

.modal-btn {
	background-color: #006eff;
	color: white;
	padding: 1%;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	/*margin-right: 300px;*/
	margin-bottom: 1%;
	float: left;

}


.project-list {
	padding: 3%;
	display: flex;
	gap: 2%;
	flex-wrap: wrap;

}

.project {
	margin: 2%;
	width: 250px;
	padding: 20px;
	background: #f4f4f4;
	border-radius: 10px;
	flex-direction: column;
	display: flex;
	position: relative;

}

.project h2 {
	margin-top: 0;
	font-size: 22px;
	color: #333;
}

.project p {
	color: #666;
	margin-bottom: 15px;
}


.project .project-btn {
	width: 100%;
	display: flex;
	margin-top: auto;
	gap: 50px;
}

.delete-btn {
	border-radius: 10px;
	border: 1px solid rgb(187, 51, 51);
	float: left;
	color: rgb(187, 51, 51);

}

.share-btn {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 10px;
	border: 1px solid #006eff;
	color: #006eff;
	background: white;
	padding: 5px 10px;
	cursor: pointer;
}

.progress {
	margin-bottom: 10px;
}

.modal-header {
	direction: rtl;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.modal-body {
	/*align-items: center;*/
	display: grid;
	margin: auto;
}

.modal-body label {}

.modal-body input {
	background-color: #ffffff;
	;
	border-radius: 5px;
}