.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 70px 40px 100px;
	/*padding-top: 50px;*/
}

.title {
	color: #000000;
	/*padding-right: 50px;*/

}

.jumboyron{
	padding : 100px;
	background-color: aliceblue;
}

.modal-btn {
    background-color: #006eff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 300px; /* זז שמאלה */
	    float: left;

}



.project-list{
	padding: 50px 50px 50px 50px;
	display: flex;
	gap: 40px;
	flex-wrap: wrap;

}
.project{
	width: 250px;
	padding: 20px;
	background: #f4f4f4;
	border-radius: 10px;
	flex-direction: column;
	display: flex;

}

.project h2 {
	margin-top: 0;
	font-size: 22px;
	color: #333;
}

.project p {
	color: #666;
	margin-bottom: 15px;
}


.project .project-btn {
	width: 100%;
	display: flex;
	margin-top: auto;
	gap: 50px;
}

.delete-btn{
 border-radius: 10px;
 border: 1px solid rgb(187, 51, 51);
 float: left;
 color: rgb(187, 51, 51);

}
