.header{
display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 70px 40px 100px;
	background-color: #ffffff;
}
	
.title{
	padding-top:50px;
	color: #000000;
 }


 .adder{
	width: 60%;
	/* height: 20px; */
	margin : 40px ;

	border: 1px solid rgb(149, 149, 150);
	border-radius: 8px;
	padding: 10px;
 }
 .adder p{
	 font-size: larger;
 }



 #title-input{
	/*padding: 20px;*/
 }
 #add-btn{
	border: 2px solid #000000;
	border-radius: 10px;

 }
 #tasks-list{
	list-style-type: none;
	 width: 80%;
 }
 .task {
    direction: rtl;                 /* מימין לשמאל */
    background: #f8f8f8;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between; /* כותרת מצד ימין, כפתורים מצד שמאל */
    align-items: center;
}
 .task h3{
	 /*font-size: small;*/
 }
 .task.completed h3{
	 text-decoration: line-through;
	 color:  gray;
 }


 .delete-btn{
	 color: darkred;
	 border: 2px solid darkred ;
	 border-radius: 5px;
 }

