.display-6{
	margin-top:50px;
 }

.jumboyron {
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	background-color: aliceblue;
	/*gap: 20px;*/
}

.tasks-list{
	padding: 1% 5% 2% 5%;
	/*margin: 50px;*/
}
.tasks-list h3{
	font-weight: normal;
	margin:2%;

}




 #open-tasks{
	list-style-type: none;
	 /*width: 80%;*/
 }

 #completed-tasks{
	 list-style-type: none;
 }

 #completed-tasks .task{
	 background: rgba(220, 220, 220, 0.58);
	 opacity: 0.85;
	 /*text-decoration: line-through;*/
	 /*font-style: italic;*/
 }

#completed-tasks .task h4{
	float: left;
	opacity: 0.85;
	text-decoration: line-through;
	font-style: italic;
	color: rgba(0, 0, 0, 0.4);
}
#completed-tasks .task em{
/*display: none*/
	color:  rgba(220, 220, 220, 0.58);
}
 /* .task {
    background: #f8f8f8;
    /*padding: 12px 16px;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #ddd;*/
    /*margin-bottom: 15px;*/

    /*display: flex;*/
    /* justify-content: space-between; /* כותרת מצד ימין, כפתורים מצד שמאל */
    /* align-items: center; */
	/*	 background: #ffffff;*/
		 /* border-radius: 12px;
		 padding: 1% 2%;
		 box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		 display: flex; */ 
		 /*align-items: flex-start;*/
		 /*gap: 15px;*/
		 /*position: relative;*/

/* } */ 
 /* .task h4{
	 /*font-size: ;*/
 /* } */ 
 /*.task.completed h3{*/
	/* text-decoration: line-through;*/
	/* color:  gray;*/
 /*}*/

.task {
    background: #f8f8f8;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: sans-serif;
}


 .delete-btn{
	 color: darkred;
	 border: 2px solid darkred ;
	 border-radius: 5px;
	 /*float: left;*/
 }

h4{
	font-weight: normal;
}

.task-status {
    transform: scale(1.2);
}

.modal-body{
	/*align-items: center;*/
	display: grid;
	margin: auto;
}

.modal-body input{
	background-color: #ffffff;;
	border-radius: 5px;
}

.edit-btn{
	border-radius: 5px;
	/*margin: 1%;*/
}
#edit-task{
	background-color: #ffffff;
	color: #000000;
	border: 2px  solid #4F5155;
	border-radius: 5px;
}
