/*.header{*/
/*!*display: flex;*!*/
/*!*	justify-content: space-between;*!*/
/*!*	align-items: center;*!*/
/*!*	padding: 60px 70px 40px 100px;*!*/
/*!*	background-color: #ffffff;*!*/
/*	display: flex;*/
/*	justify-content: space-between;*/
/*	align-items: center;*/
/*	padding: 60px 70px 40px 100px;*/
/*}*/
/*	*/
.display-6{
	margin-top:50px;
 }

.jumboyron {
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	background-color: aliceblue;
	/*gap: 20px;*/
}

.pending{
	padding: 10px 50px 50px;
	/*margin: 50px;*/
}
.pending h3{
	font-weight: normal;
	margin: 30px;

}

.completed{
	padding: 10px 50px 50px;
}
.completed h3{
	font-weight: normal;
	margin: 30px;

}

 .adder{
	width: 60%;
	/* height: 20px; */
	margin : 40px ;

	border: 1px solid rgb(149, 149, 150);
	border-radius: 8px;
	padding: 10px;
 }
 .adder p{
	 font-size: larger;
 }



 #title-input{
	/*padding: 20px;*/
 }
 #add-btn{
	border: 2px solid #000000;
	border-radius: 10px;

 }

 /*h3{*/
	/*margin-right: 20px;*/
	/* margin-bottom: 10px;*/
 /*}*/

 #open-tasks{
	list-style-type: none;
	 /*width: 80%;*/
 }

 #completed-tasks{
	 list-style-type: none;
 }

 #completed-tasks .task{
	 background: rgba(220, 220, 220, 0.58);
	 opacity: 0.85;
	 /*text-decoration: line-through;*/
	 /*font-style: italic;*/
 }

#completed-tasks .task h4{
	float: left;
	opacity: 0.85;
	text-decoration: line-through;
	font-style: italic;
	color: rgba(0, 0, 0, 0.4);
}
#completed-tasks .task em{
/*display: none*/
	color:  rgba(220, 220, 220, 0.58);
}
 .task {
    background: #f8f8f8;
    /*padding: 12px 16px;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #ddd;*/
    margin-bottom: 15px;

    /*display: flex;*/
    justify-content: space-between; /* כותרת מצד ימין, כפתורים מצד שמאל */
    /*align-items: center;*/
	/*	 background: #ffffff;*/
		 border-radius: 12px;
		 padding: 15px 20px;
		 box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		 display: flex;
		 align-items: flex-start;
		 gap: 15px;
		 position: relative;

}
 .task h4{
	 /*font-size: small;*/
 }
 /*.task.completed h3{*/
	/* text-decoration: line-through;*/
	/* color:  gray;*/
 /*}*/


 .delete-btn{
	 color: darkred;
	 border: 2px solid darkred ;
	 border-radius: 5px;
 }

h4{
	font-weight: normal;
}
